body {
  background-color: black;
}
@font-face {
  font-family: 'ss';
  src: url('https://www.78912345.xyz/Fonts/SmileySans-Oblique.ttf.woff2');
}
.s a {
  font-family: 'ss';
  font-size: 20px;
  color: white;
  TEXT-DECORATION: none;
}
.s h3 {
  font-family: 'ss';
  color: white;
}
.s p {
  font-family: 'ss';
  font-size: 20px;
  color: white;
}
