/* CSS */
body {
  background-color: black;
}
@font-face {
  font-family: 'ss';
  src: url('https://www.78912345.xyz/Fonts/SmileySans-Oblique.ttf.woff2');
}
.s {
  font-family: 'ss';
  color: white;
}
.s a {
  font-size: 20px;
  TEXT-DECORATION: none;
  transition-duration: 0.3s;
}
.s a:hover {
  color: gray;
}
.s p {
  font-size: 20px;
}
.b a {
  font-size: 20px;
  TEXT-DECORATION: none;
  transition-duration: 0.3s;
  position: absolute;
  bottom: 10px; 
  right: 10px;
}
.b a:hover {
  color: gray;
}
.b h3 {
  position: absolute;
  bottom: 10px; 
  right: 10px;
}
.b p {
  font-size: 20px;
  position: absolute;
  bottom: 10px; 
  right: 10px;
}
.s ol {
  font-size: 20px;
}
.s ul {
  font-size: 20px;
}
.s li {
  font-size: 20px;
}
.s menu {
  font-size: 20px;
}
